*{
    padding: 0px;
    margin: 0px;
    
}
.section-one{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 50px;
    margin-bottom: 10px;
    margin-left:100px;
    margin-right: 100px;
}
.section-two{
    background-color: white;
    color: black;
    height: 400px;
    width: 200px;
    border: solid black;
    display: inline-block;
    margin-left: 350px;
}
.section-two__desc{
    text-align: center;
}
.section-two__title{
    text-align: center;
}
.section-two__button{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;

}
.section-three{
    display: inline-block;
    background-color: white;
    color: black;
    height: 400px;
    width: 200px;
    border: solid black;
    

}
.section-three__desc{
    text-align: center;
}
.section-three__title{
    text-align: center;
}
.section-three__button{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}
.section-four{
    display: inline-block;
    background-color: white;
    color: black;
    height: 400px;
    width: 200px;
    border: solid black;
    

}
.section-four__desc{
    text-align: center;
}
.section-four__title{
    text-align: center;
}
.section-four__button{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}
.section-five{
    display: inline-block;
    background-color: white;
    color: black;
    height: 400px;
    width: 200px;
    border: solid black;
    

}
.section-five__desc{
    text-align: center;
}
.section-five__title{
    text-align: center;
}
.section-five__button{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}
.under-one{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-left:100px;
    margin-right: 100px;
    margin-top: 10px;
}
.under-one__table{
    text-align: center;
}    
.end{
    background-color: yellow;
    color: black;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
}
.under-one__two{
    text-align: left;
}
